/**
 * Fonts
 */
/* @font-face { */
/*     font-family: "Computer Modern"; */
/*     src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf'); */
/* } */
/* @font-face { */
/*     font-family: "Computer Modern"; */
/*     src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf'); */
/*     font-weight: bold; */
/* } */
/* @font-face { */
/*     font-family: "Computer Modern"; */
/*     src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf'); */
/*     font-style: italic, oblique; */
/* } */
/* @font-face { */
/*     font-family: "Computer Modern"; */
/*     src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf'); */
/*     font-weight: bold; */
/*     font-style: italic, oblique; */
/* } */
/**
 * HTML
 */
html {
    --sidebar-height: 60px;
    --sidebar-shadow: 16px;
    scroll-padding-top: calc(var(--sidebar-height) + var(--sidebar-shadow));
}

/**
 * Side bar
 */
/** Side bar container */
#sidebar {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--sidebar-height);
    color: #000;
    background-color: #ddd;
    font-family: "Computer Modern Sans", sans-serif;
    font-weight: bold;
    font-size: larger;
    box-shadow: 0px calc(var(--sidebar-shadow)/2) var(--sidebar-shadow) 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/** Side bar paragraph (Container of image) */
#sidebar p {
    display: inline-block;
    margin: 0;
	     
}
/** Side bar logo */
#sidebar img {
    /* width: 40px; */
    height: calc(var(--sidebar-height) - 10px);
    padding: 5px;
}
/** Side bar top-level list  */
#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 60px;
    background-color: inherit;
}
/** Side bar top-level item  */
#sidebar li {
    display: inline;
    float: left;
    height: 50px;
    padding-top: 10px;
    vertical-align: middle;
    background-color: inherit;
}
/** Side bar top-level item  link */
#sidebar li a {
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    height: 34px;
    color: inherit;
}
/** Side bar item link hovered */
#sidebar li a:hover {
    background-color: #333;
    color: #eee;
}
/** Side bar sub-level container */
#sidebar ul li .sub {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: auto;
    z-index: 10;
    background-color: inherit;
}
/** Side bar sub-level container, when hover over parent item */
#sidebar ul li:hover .sub {
    display: block
}
/** Side bar sub-item */
#sidebar ul li h2 {
    display: block;
    text-align: left;
    float: none;
    height: auto;
    padding: 0px;
    font-size: large;
    margin: 0px;
    background-color: inherit;
}
/** Side bar sub-item */
#sidebar ul li h2 a {
    text-align: left;
    background-color: inherit;
    padding: 4px;
}
#sidebar ul li .sub img {
    display: none;
}
/** Side bar sub-item */
#sidebar ul li p {
    display: none;
}
/** Header in sub-menu file */
#sidebar h1 {
    display: none
}

#sidebar .sub ul {
    display: none;
}

/**
 * Content
 */
#content {
    color: #000;
    background-color: #fff;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    font-family: "Computer Modern Concrete", serif;
    font-size: large;
    text-align: justify;
    z-index: 0;
}
#content a {
    color: #700;
    text-decoration:none;
}
#content a:hover {
    color: #d33;
}

#content h2 {
    font-family: "Computer Modern Sans", sans-serif;
    font-weight: bold;
    font-size: 175%;
}
#content h1 {
    font-family: "Computer Modern Sans", sans-serif;
    font-weight: bold;
    font-size: 200%;
}
#content h3 {
    font-family: "Computer Modern Sans", sans-serif;
    font-weight: normal;
    font-size: 150%;
}

#content h4 {
    font-family: "Computer Modern Sans", sans-serif;
    font-weight: normal;
    font-size: 120%;
}

#content h5 {
    font-family: "Computer Modern Sans", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 105%;
}

#content h2 img {
    float: left; 
    max-height: 100px;
    margin: 0px;
    margin-right: 5px;
    padding: 0px;
    border: thin solid gray;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
}

#content h3 img {
    float: left; 
    max-height: 50px;
    margin: 0px;
    margin-right: 5px;
    padding: 0px;
    border: thin solid gray;
    box-shadow: 0px 1.5px 3px 0px rgba(0,0,0,0.2);
}

#content img {
    /* float: right; */
    /*max-width: 300px;*/
    /*padding-left:20px;*/
    max-width:100%;
}

/** For LaTeX */
.latex-a {
    font-size: 75%;
    margin-left: -.75ex;
    margin-right: -.25ex;
    position: relative;
    bottom: .6ex;
    z-index: 0;
    
}
.latex-e {
    font-size: 85%;
    margin-left: -.5ex;
    margin-right: -.25ex;
    margin-bottom: .25ex;
    position: relative;
    bottom: -.5ex;
    z-index: 0;
}


code {
    font-family: 'Computer Modern Typewriter', monospace;
}

#content .screenshot {
    max-width: 400px;
    /* display: inline;
    float: left; */
}

pre {
    padding: 1ex 1ex;
    border: thin solid black;
    background: #eee;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

#SideBar table {display: none}

#sb-summary { border-top: solid thin black; }

table {
    border: solid thin black;
    border-collapse: collapse;
}
tr:nth-child(even) {
    background: #ffefef;
}
tr.header {
    background: #700;
    color: white;
}
th {
    font-family: "Computer Modern Sans", sans-serif;
    font-weight: bold;
    text-align: center !important;
    margin: 0;
    padding: 3px;
}
